/* homePage.css */ 

.begText {
	/* Have everything in the same position on page in container*/
	position:relative;
	left:50px;
	top:20px;


	/*Have a curved box border around content*/ 
	width: 300px;
	border-radius: 15px 50px 30px;
	background-color: LightGray; 
	padding: 20px;
}

.about {
	position:relative;
	left:10px;
/*	left:50px;
	top:20px;*/

/*	overflow: auto;*/
}

.about.BegText {
	/* Have everything in the same position on page in container*/
	/*position:relative;
*/

	/*Have a curved box border around content*/ 
	width: 1000px;
	border-radius: 15px 50px 30px;
	background-color: LightGray; 
	padding: 20px;

	/*Have div element side-by-side*/ 
	/*float:left;*/
	margin-bottom: 50px;

}

.about.Skills {
	position:relative;


	/*width: 200px;*/
/*	left:50px;
*/
	/*float:right;*/
	/*height: 50px;*/
}

.about.Experience {
		/* Have everything in the same position on page in container*/
	/*position:relative;*/
	/*top: 50px;*/

	/*Have a curved box border around content*/ 
	width: 600px;
	border-radius: 25px;
	background-color: #E9967A; 
	padding: 20px;

	float:left;
	margin-right:40px;

}

.about.Education {
	margin-top: 10px;
	
	position:absolute;
	left: 640px;
	/*Have a curved box border around content*/ 
	
	width: 300px;
	border-radius: 25px;
	background-color: #87CEFA; 
	padding: 20px;

	/*float:right;*/

}

.checked {
	color: orange;
}