{% extends "layout.html" %}

{% block main %}
    {% set index = namespace(foo=0) %}
    {% set rows = (data|length)//3 + 1 %}
    {% for row in range(rows) %} 
    <div class="row">
    {% for i in range(3) %} 
      {% if data[index.foo] %}
      <div class="col s4 m4 l4"> 
        <!-- title, body, start date, end date, desc--> 
        <div class="card">
          <a href="/post/{{data[index.foo].id}}">
          <div class="card-image">
              {% if request.MOBILE %}
              <img src={{data[index.foo].mobile_image}} onError="this.onerror=null;this.src='/static/vw_image_placeholder.png';">
              {% else %}
              <img src={{data[index.foo].image}} onError="this.onerror=null;this.src='/static/vw_image_placeholder.png';">
              {% endif %}
          </div>
          </a>
          <div class="card-content">
            <span class="card-title">{{ data[index.foo].title }}</span>
            <p>{{data[index.foo].posted_date.strftime('%b-%d-%Y')}}</p> 
            {% if data[index.foo].revised_date %}
              <p><i>Revised: {{data[index.foo].revised_date.strftime('%b-%d-%Y')}}</i></p> 
            {% endif %}
          </div>
          <div class="card-action">
            <div class="inline">
            <a class="modal-trigger" href="/post/{{data[index.foo].id}}">Read More</a>
            {% if current_user.is_authenticated %}
              <form action="/deletePost/{{data[index.foo].id}}" style="display: inline;" method="post">
                <input type="submit" value="Delete" class="red btn-small" href="/deletePost">
              </form>
            {% endif %}
            </div>
          </div>
        </div>
      </div> 
      {% set index.foo = index.foo + 1 %}
      {% endif %}
    {% endfor %}
    </div>
    {% endfor %}
  </div>
  
{% endblock %}
