{% extends "layout.html" %}

{% block main %}
<link href="{{ url_for('static', filename='node_modules/quill/dist/quill.snow.css')}}" rel="stylesheet" type="text/css" /> 
<script src="{{ url_for('static', filename='node_modules/quill/dist/quill.min.js')}}"></script>
<script src="{{ url_for('static', filename='node_modules/quill-image-resize/image-resize.min.js')}}"></script>
<div class="container"> 
  <h2>New Post</h2> 
  <!-- Title --> 
  <div class="row">
    <form action="/post" method="post" enctype="multipart/form-data" class="col s12">
      <div class="row">
        <div class="input-field col s12"> 
          <input id="title" name="title" type="text" class="validate" required>
          <label for="title">Title</label>
        </div>
      </div>
      <!-- Image upload --> 
      <div class="file-field input-field">
        <div class="btn">
          <span>Image</span>
          <input onchange="updateImagePreview(this)" type="file" name="file"> 
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text"> 
        </div>
      </div>
      <!-- Image Preview --> 
      <div class="row"> 
        <div class="input-field col s12"> 
          <center><img id="imagePreview" src="/static/images/placeholder.png" style="width: 60%;"></center> 
        </div> 
      </div> 
      <!-- Date --> 
      <div class="row"> 
        <div class="input-field col s12"> 
          <input type="text" name="date" id="date" class="datepicker"> 
          <label for="date">Date</label>
        </div>
      </div>
      <!-- Switch -->
      <div class="switch" >
        <label>
          Just a post
          <input type="checkbox" name="isProject" id="isProject">
          <span class="lever"></span>
          Is a project
        </label>
      </div>
      <!-- Body --> 
      <div class="row"> 
        <div class="input-field col s12"> 
          <div id="editor">
            <p>Hello World</p> 
          </div> 
        </div>
      </div>
      <!-- Hidden textarea for HTML submission --> 
      <div class="row" style="display:none;"> 
        <div class="input-field col s12"> 
          <textarea id="textarea" style="display:none;" name="html">
          </textarea> 
        </div>
      </div>
      <!-- Taxonomy terms, comments --> 
      <h5> Tags </h5> 
      {% set index = namespace(foo=0) %}
      {% set rows = (data|length)//3 + 1 %}
      {% for row in range(rows) %}
      <div class="row"> 
        {% for i in range(3) %}
          {% if data[index.foo] %}
          <div class="col s4">
            <label> 
              <input type="checkbox" name="{{data[index.foo].name}}" id="{{data[index.foo].name}}"  /> 
              <span>
               {{data[index.foo].name}}
              </span> 
            </label>
          </div> 
          {% set index.foo = index.foo + 1 %}
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
      <!-- Add additional taxonomy terms -->
      <h6>Create New Tags</h6> 
      <div class="chips" name="chips"></div>
      <!-- Keep the new tags here for sending --> 
      <div id="newTags"></div> 
      <!-- Submit --> 
      <div class="row"> 
        <div class="col s12"> 
          <button class="right btn waves-effect waves-light" type="submit" name="action" onclick="send()">Submit
          </button>
        </div>
      </div>
      {{ form.csrf_token }}
    </form>
  </div>
</div>
<script>
  //Setup the wysiwig editor
  var quill = new Quill('#editor', {
    modules: {
      toolbar: [
        [{'header': [1, 2, 3, 4, 5, 6, false]}],
        ['bold', 'italic', 'underline', 'strike'],
        [{'font': []}],  
        ['link', 'blockquote', 'code-block', 'image', 'video'],
        [{list: 'ordered'}, {list: 'bullet'}], 
        [{'script': 'sub'}, {'script': 'super'}], 
        [{'indent': '-1'}, {'indent': '+1'}], 
        [{'direction': 'rtl'}], 
        [{'color': []}, {'background': []}], 
        [{'align': []}],
        ['clean']
      ], 
      imageResize: {
        displaySize: true
      }
    }, 
    theme: 'snow'
  });

  function send(){
    //get the html output of the editor into the form post 
    var editor = document.querySelector('#editor')
    var html = editor.children[0].innerHTML
    document.getElementById('textarea').innerHTML = html 
  }

  function updateImagePreview(input){
    if(input.files && input.files[0]){
      var reader = new FileReader(); 
      reader.onload = function(e){
        document.getElementById('imagePreview').src = e.target.result; 
      }
      reader.readAsDataURL(input.files[0]); 
    }
  }

</script>
{% endblock %}
