body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

img {
	border-width: 2px;
	border-style: solid;
	border-color: #f5f5f5;
}

.loading-images {
	width: 40px !important;
	height: 100px !important;
}

.flex-parent {
	display: flex;
	align-items: center;
}

.flex-item {
	margin: 5px;
}

/* The left item will align left but have a rightward margin. */
.flex-item-left {
	margin-right: 5px;
	margin-bottom: 5px; 
	margin-top: 5px;
}

.disabled-link-text {
	color: grey !important;
}