{% extends "layout.html" %}

{% block main %}
<script src="../static/js/Snap.svg-0.5.1/dist/snap.svg-min.js"></script>

<script>
	var s = Snap(1000, 600); 
	var eye = ""; 

	//Static
	// //Bookshelf
	// Snap.load("../static/images/bookshelf.svg", function(f){
	// 	var g = f.select("g"); 
	// 	g.attr({transform: "s0.4,0.4 t700,150"}); 
	// 	s.append(g); 
	// }); 

	// //Desk 
	
	// //Person
	// Snap.load("../static/images/person.svg", function(f){
	// 	var g = f.select("g"); 
	// 	g.attr({transform: "s0.2,0.2 t2000,350"}); 
	// 	s.append(g); 
	// }); 

	// //Laptop
	// Snap.load("../static/images/laptop.svg", function(f){
	// 	var g = f.select("g"); 
	// 	g.attr({transform: "s0.5,0.5 t600,250"}); 
	// 	s.append(g); 
	// });

	

	//Animations

	//Clock
	var second = ""; 
	var minute = ""; 
	var hour = "";  
	Snap.load("../static/images/clock.svg", function(f){
		var clock = f.select("#clock"); 
		second = f.select("#second"); 
		minute = f.select("#minute"); 
		hour = f.select("#hour"); 

		//Position
		clock.attr({transform: "t800,250 s0.5,0.5"}); 
		second.attr({transform: "t685,225 s0.4,0.4"});
		minute.attr({transform: "t881,300 s0.4,0.4"});
		hour.attr({transform: "t881,280 s0.4,0.4"});

		s.append(clock); 
		s.append(second); 
		s.append(minute); 
		s.append(hour); 

		animateClock(); 

		
	}); 

	function animateClock(){
		var time = new Date(); 
		var hours = time.getHours(); 
		var mins = time.getMinutes(); 
		var secs = time.getSeconds(); 

		//Move the needles
		second.attr({transform:  'r' + (secs*6-3) + ",0,0"}); 
		second.animate({transform: 'r' + (secs*6) + ',0,0'}, 500, mina.elastic); 

		setTimeout("animateClock()", 1000);

	}

	//VW beetle

	//Robot
	Snap.load("../static/images/robot.svg", function(f){
		var g = f.select("g");

		//setup animations  

		//select the facial components to move
		eye = f.select("#eye"); 
		s.append(eye); 
		rotateRobotHead(); 
		eye.attr({transform: "t50,-300"}); 
 
		s.append(g);

		//scale image down 
		g.attr({transform: "s0.2,0.2"}); 
		g.drag();  

		// var s1 = new Snap.Matrix(); 
		// s1.scale(0.05); 
		// s1.translate(0, -100); 

		// g.animate({transform: s1}); 
	}); 

	function rotateRobotHead(){
		var x = 50; 
		var maxX = 200; 
		for(var i=x; i<maxX; i++){
			eye.attr({transform: ('t' + (i) + ",-300")}); 
		}
		//wait a second 
		setTimeout(function(){}, 1000); 
		//go back 
		for(var i=x; i<maxX; i++){
			eye.attr({transform: ('t' + (-i) + ",-300")}); 
		}

		setTimeout("rotateRobotHead()", 1000); 
	}
</script>
  
{% endblock %}
