{% extends "layout.html" %}

{% block main %}
    {% set index = namespace(foo=0) %}
    {% set rows = (data|length)//3 + 1 %}
    {% for row in range(rows) %} 
    <div class="row">
    {% for i in range(3) %} 
      {% if data[index.foo] %}
      <div class="col s12 m4 l4"> 
        <!-- title, body, start date, end date, desc--> 
        <div class="card">
          <div class="card-image">
            <img src={{data[index.foo].image}}>
          </div>
          <div class="card-content">
            <span class="card-title">{{ data[index.foo].title }}</span>
            <p>{{data[index.foo].date}}</p> 
            <p>{{data[index.foo].desc}}</p>
          </div>
          <div class="card-action">
            <a class="modal-trigger" href="/post/{{data[index.foo].id}}">Read More</a>
          </div>
        </div>
      </div> 
      {% set index.foo = index.foo + 1 %}
      {% endif %}
    {% endfor %}
    </div>
    {% endfor %}
  </div>
  
{% endblock %}
